* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
  width: 100%;
  grid-area: header;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
    text-decoration: underline;
}

main {
  width: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section {
  width: 70%;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#intro {
  text-align: justify;
}

footer {
  width: 100%;
  grid-area: footer;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  #intro {
    width: 50%;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

/* @media (min-width: 1024px) and (min-height: 1366px) {
  body {
    font-size: 24px;
  }
} */